:root {
  --b0: #121212;
  --b1: #191919;
  --b2: #2a2a2a;
  --b3: #696969;
  --b4: #898989;
  --b5: #fff;
  --h0: #1a2129;
  --h1: #456a8a;
  --h2: #3e93e2;
  --h3: #24303e;

  --dark-text-grey: #979A9B;
  --dark-text-brown: #937264;
  --dark-text-orange: #FFA344;
  --dark-text-yellow: #FFDC49;
  --dark-text-green: #4DAB9A;
  --dark-text-blue: #529CCA;
  --dark-text-purple: #9A6DD7;
  --dark-text-pink: #E255A1;
  --dark-text-red: #FF7369;
  --dark-bg-grey: #454B4E;
  --dark-bg-brown: #594A3A;
  --dark-bg-orange: #594A3A;
  --dark-bg-yellow: #59563B;
  --dark-bg-green: #354C4B;
  --dark-bg-blue: #364954;
  --dark-bg-purple: #443F57;
  --dark-bg-pink: #533B4C;
  --dark-bg-red: #594141;

  --light-text-grey: #787774;
  --light-text-brown: #9F6B53;
  --light-text-orange: #D9730D;
  --light-text-yellow: #CB912F;
  --light-text-green: #448361;
  --light-text-blue: #337EA9;
  --light-text-purple: #9065B0;
  --light-text-pink: #C14C8A;
  --light-text-red: #D44C47;
  --light-bg-grey: #F1F1EF;
  --light-bg-brown: #F4EEEE;
  --light-bg-orange: #FAEBDD;
  --light-bg-yellow: #FBF3DB;
  --light-bg-green: #EDF3EC;
  --light-bg-blue: #E7F3F8;
  --light-bg-purple: #F6F3F9;
  --light-bg-pink: #FAF1F5;
  --light-bg-red: #FDEBEC;

  --alert: #45160d;
}

::selection {
  /* color: var(--b5); */
  background: var(--h1);
}

ul {
  margin: 0;
}

h1,
h2,
h3 {
  padding: 0.5em 1em;
  background-color: var(--h1);
  border-radius: 6px;
}

h4,
h5 {
  padding: 0.5em 1em;
  background-color: var(--h0);
  border-radius: 6px;
}

h6 {
  margin: 0;
  font-weight: normal;
}

a {
  color: var(--h2);
  text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: var(--h0);
  text-decoration: underline;
}

code {
  padding: 10px;
  display: block;
  background-color: var(--h0);
  text-wrap: wrap;
}

input[type="number"] {
  background-color: transparent;
  outline: none;
  padding: 6px;
  border: 1px solid var(--b3);
  border-radius: 6px;
  color: var(--b5);
}


table {
  border: 1px solid var(--b5);
  border-collapse: collapse;
  margin: 16px 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

td,
th {
  border: 1px solid var(--b5);
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--h3);
  color: var(--b5);
}

div.mermaid {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
}

body {
  background-color: #121212;
  color: #fff;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

input {
  background-color: transparent;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 6px;
  padding: 6px;
  color: #fff;
}

.row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.w10 {
  width: 70px;
}

#navBar {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 16px;
}

textarea {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  padding: 10px;
  outline: none;
  border: none;
  border-right: 1px solid #333;
  width: 50%;
  background-color: #121212;
  color: #fff;
  height: calc(100dvh - 84px);
  resize: none;
}

#disp_area {
  max-width: 50dvw;
  height: calc(100dvh - 84px);
  overflow-y: auto;
}

#disp_area::-webkit-scrollbar {
  display: none;
}

.btns {
  padding: 4px;
  background-color: var(--h0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.btns:hover {
  background-color: var(--h1);
}

.btns.box {
  width: 24px;
  height: 24px;
}

.btns.box:hover {
  box-shadow: inset 0 0 0px 3px rgba(62, 147, 226, 0.9);
}

.separate {
  background-color: var(--b2);
  width: 2px;
  height: 100%;
  padding: 4px 0;
  margin: 0 4px;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  flex-wrap: wrap;
  gap: 4px;
  position: absolute;
  transform: translate(-30%, 4px);
  background-color: var(--b1);
  z-index: 1;
}

.dropdown-content.wrap {
  width: 176px;
}

.dropdown-content div {
  color: var(--b5);
}

.dropdown-content div:hover {
  background-color: var(--h1);
}

.dropdown:hover .dropdown-content {
  display: flex;
}

/* #region : css elements */
.hover-text:hover {
  background-color: var(--h1);
  cursor: pointer;
}

/* #endregion */

/* #region : color */

.text-under {
  text-decoration: underline;
}

.text-b0 {
  color: var(--b0);
}

.text-b1 {
  color: var(--b1);
}

.text-b2 {
  color: var(--b2);
}

.text-b3 {
  color: var(--b3);
}

.text-grey {
  color: var(--dark-text-grey);
}

.text-brown {
  color: var(--dark-text-brown);
}

.text-orange {
  color: var(--dark-text-orange);
}

.text-yellow {
  color: var(--dark-text-yellow);
}

.text-green {
  color: var(--dark-text-green);
}

.text-blue {
  color: var(--dark-text-blue);
}

.text-purple {
  color: var(--dark-text-purple);
}

.text-pink {
  color: var(--dark-text-pink);
}

.text-red {
  color: var(--dark-text-red);
}

.bg-grey {
  background-color: var(--dark-bg-grey);
}

.bg-brown {
  background-color: var(--dark-bg-brown);
}

.bg-orange {
  background-color: var(--dark-bg-orange);
}

.bg-yellow {
  background-color: var(--dark-bg-yellow);
}

.bg-green {
  background-color: var(--dark-bg-green);
}

.bg-blue {
  background-color: var(--dark-bg-blue);
}

.bg-purple {
  background-color: var(--dark-bg-purple);
}

.bg-pink {
  background-color: var(--dark-bg-pink);
}

.bg-red {
  background-color: var(--dark-bg-red);
}

/* #endregion */
